<h2>Welcome to SQiggL</h2>
<h3>What is SQiggL?</h3>
<p>SQiggL is a SQL template based language that allows developers, DBAs, Data Entry, and any others to script out SQL queries, stored procedure, or scripts with variables that will modify the outputted SQL after parsed.</p>
<h3>Why?</h3>
<ul>
    <li>Some people hate or don't trust ORMs</li>
    <li>Some developers can't use them due to management</li>
    <li>You may not be able to use an ORM due to not working in a programming language, for instance you are simply writing a script to be ran manually, but depending on some rule it may need to be slightly different in different scenarios</li>
</ul>
<md-card>
    <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
            <h2>Variables</h2>
        </div>
    </md-toolbar>
    <md-card-content>
        <md-list layout="row" layout-wrap>
            <md-list-item flex="33" ng-repeat="variable in home.variables" layout="row">
                <md-input-container>
                    <label>Key</label>
                    <input type="text" ng-model="variable.key">    
                </md-input-container>
                <md-input-container>
                    <label>Value</label>
                    <input type="text" ng-model="variable.value">    
                </md-input-container>
                <md-button class="md-fab md-mini" ng-click="home.deleteVariable(variable)">X</md-button>
            </md-list-item>
        </md-list>
    </md-card-content>
    <md-card-footer>
        <md-button ng-click="home.addVariable()">Add Variable</md-button>
    </md-card-footer>
</md-card>
<section layout="row">
    <md-card flex>
        <md-toolbar class="md-accent">
            <div class="md-toolbar-tools">
                <h2>Query</h2>
            </div>
        </md-toolbar>
        <md-card-content>
            <md-input-container style="padding:0;">
                <label>Try SQiggL</label>
                <textarea ng-model="home.input" style="min-height:300px;" flex></textarea>
            </md-input-container>
        </md-card-content>
        <md-card-footer>
            <md-button ng-click="home.parse()">Execute</md-button>
        </md-card-footer>
    </md-card>
    <md-card flex>
        <md-toolbar class="md-accent">
            <div class="md-toolbar-tools">
                <h2>Result</h2>
            </div>
        </md-toolbar>
        <md-card-content flex>{{home.output}}</md-card-content>
        <md-card-footer>
            <md-button ng-click="home.feedback()">Leave feedback or report issue</md-button>    
        </md-card-footer>
    </md-card>
</section>
<ul>
    <li ng-repeat="error in home.errors"><span style="color: red;">{{error}}</span></li>
</ul>
